.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; /* Set background color to white */
  }
  
  .man-united-heading {
    color: black; /* สีข้อความเป็นสีดำ */
    font-size: 24px; /* ขนาดตัวอักษร */
    text-align: center; /* จัดข้อความตรงกลาง */
    margin-bottom: 20px; /* เพิ่มระยะห่างด้านล่าง */
    margin-left: -880px;
  }

  .product-Namemanu {
    color: black;
    font-size: 24px;
    text-align: center; /* จัดข้อความไปทางขวา */
    margin-left: 400px;
    margin-top: -450px;
  }

  .product-detailmanu{
  display: flex;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px; /* ระยะห่างระหว่างคลาสทั้งสาม */
  grid-template-columns: repeat(3, 250px);
  margin-left: 500px;
  margin-top: 20px;
}

.product-detailmanu h3 {
  font-weight: normal; /* ตั้งค่าน้ำหนักของตัวอักษรเป็นปกติ */
}

.product-detailmanu .product-Startingmanu,
.product-detailmanu .product-Highestmanu,
.product-detailmanu .product-Lastmanu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px; /* ระยะห่างระหว่างคลาสทั้งสาม */
  font-weight: normal;
  color: gray;
}

.product-detailmanu .product-Startingmanu span,
.product-detailmanu .product-Highestmanu span,
.product-detailmanu .product-Lastmanu span {
  color: black;

}

.product-Imagemanu {
  margin-top: -400px;
  width: 400px; /* กำหนดความกว้างของรูป */
  height: 400px; /* กำหนดความสูงของรูป */
  border-top: 1px solid #000; /* เส้นขอบด้านบน */
  border-bottom: 1px solid #000; /* เส้นขอบด้านล่าง */
  border-left: 1px solid #000; /* เส้นขอบด้านล่าง */
  border-right: 1px solid #000; /* เส้นขอบด้านล่าง */
}

.product-Listmanu {
  width: 700px;
  margin-top: 20px;
  margin-left: 5px;
  padding: 10px 0; /* เพิ่มพื้นที่ด้านบนและด้านล่างของ block */
  border-top: 1px solid #000; /* เพิ่มเส้นด้านบนของ block */
  border-bottom: 1px solid #000; /* เพิ่มเส้นด้านล่างของ block */
  font-weight: normal;
}

.product-Listmanu h3 {
  width: 1000px; /* ปรับขนาดตามที่ต้องการ */
  margin-left: 45px;
  font-weight: normal;
  
}

.product-brandmanu,
.product-colormanu,
.product-datemanu,
.product-sizemanu {
  display: flex;
  justify-content: space-between;
  color: gray;
}

.product-brandmanu span,
.product-colormanu span,
.product-datemanu span,
.product-sizemanu span {
  margin-right: 400px;
  color: #000;
}





  
  


  
  