.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; /* Set background color to white */
  }
  
  .Manu-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* กำหนดความสูงเต็มหน้าจอ */
    margin-top: -12vh;
  }
  
  .Shirt-main-manu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .Shirt-Manu {
    background-image: url(./Pict/manushirt.png);
  }

  .product-shirt {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: black;
  }

  .product-Name {
    color: black;
  }
  